@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

body{
    margin: 0;
    background-image: url("../imagens/matrix.gif") ;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


form{
    display: flex;
    flex-direction: column ;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    font-family: 'Cousine', monospace;
    font-size: x-large;
    width: 50vw;
    height: 100vh;
    padding: 3%;
}

div label::selection{
    color: black ;
    background-color: #aace88;
}

.title{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: #aace88 ;
    margin-bottom: 8%;
}

.title::selection{
    background-color: #25ff2c;
    color: black;
}

.entrada{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.entrada label{
    margin-bottom: 2%;
}

.caixaEntrada{
    padding: 1%;
    font-family: 'Cousine', monospace;
    font-size: large;
    background-color: #aace88;
    
}

.caixaEntrada::selection{
    background-color: black ;
    color: #aace88;
}

.cifraEscolha{
    margin-bottom: 5%;
}


select{
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    font-size: x-large;
    text-shadow: #aace88;
    margin-top: 2%;
}


#botao{
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    font-size: x-large;
    text-align: center ;
    margin-top: 5%;
    width: 20vw;
    align-self: center;
    background-color: #25ff2c;
}

#botao:hover{
    transition: 200ms;
    font-size: xx-large;
}

#botao:active{
    background-color: black;
    color: #25ff2c;
}

.mensagemFinal{
    margin-top: 10%;
    text-align: center;
}

.mensagemFinal::selection{
    color: black ;
    background-color: #aace88;
}


.resposta{
    text-align: center;
    font-size: xx-large;
    color: #aace88 ;
}

.resposta::selection{
    background-color: #25ff2c;
    color: black;
}

@media (max-width:900px){
    form{
        width: 80vw;
    }
}

@media (max-width:600px){
    form{
        align-items: center;
        font-size: medium;
        text-align: center;
    }

    h2{
        font-size: large;
        margin-top: 15%;
        margin-bottom: 20%;
    }

    .entrada{
        margin-bottom: 10%;
    }
    
    .entrada label{
        margin-bottom: 5%;
    }

    .cifraEscolha{
        margin-bottom: 10%;
    }

    select{
        font-size: large;
        margin-top: 10%;
    }

    #botao{
        margin-top: 15%;
        width: 60vw;
        font-size: large;
    }

    #botao:hover{
        font-size: x-large;
    }

    .mensagemFinal{
        margin-top: 15%;
    }

    .resposta{
        font-size: x-large;
    }
}