@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

body{
    margin: 0;
    background-image: url("./imagens/matrix.gif") ;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


form{
    display: flex;
    flex-direction: column ;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    font-family: 'Cousine', monospace;
    font-size: x-large;
    width: 50vw;
    height: 100vh;
    padding: 3%;
}

.title{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: #aace88 ;
    margin-bottom: 8%;
}


.entrada{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    margin-bottom: 5%;
}

#mensagem{
    padding: 1%;
    font-family: 'Cousine', monospace;
    font-size: large;
    background-color: #aace88;
    
}

#mensagem::selection{
    background-color: black ;
    color: #aace88;
}

.cifraEscolha{
    margin-bottom: 5%;
}


select{
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    font-size: x-large;
    text-shadow: #aace88;
    margin-top: 2%;
}


#botaoCifra{
    font-family: 'Share Tech Mono', monospace;
    font-size: x-large;
    font-weight: bold;
    background-color: #aace88;
    margin-top: 2%;
}

#botaoCifra:active{
    background-color: black;
    color: #aace88;
}

#botao{
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    font-size: x-large;
    text-shadow: #aace88;
    margin-top: 2%;
    width: 20vw;
    align-self: center;
    background-color: #25ff2c;
}

#botao:hover{
    font-size: xx-large;
}

#botao:active{
    background-color: black;
    color: #25ff2c;
}