@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

body{
    margin: 0;
    background-image: url("./imagens/matrix.gif") ;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


form{
    display: flex;
    flex-direction: column ;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    font-family: 'Cousine', monospace;
    font-size: x-large;
    width: 50vw;
    height: 100vh;
    padding: 3%;
}

.title{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}


.entrada{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

#mensagem{
    padding: 1%;
    font-family: 'Cousine', monospace;
    font-size: large;
    background-color: #aace88;
    
}

#mensagem::selection{
    background-color: black ;
    color: white;
}

select{
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    font-size: large;
    text-shadow: #aace88;
}


#botaoCifra{
    font-family: 'Share Tech Mono', monospace;
    font-size: large;
    font-weight: bold;
    background-color: #aace88;
    border-radius: 10px;
    width: 10%;
}

#botaoCifra:active{
    background-color: #18ca1e;
}